.auth__container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.auth__wrapper {
  position: absolute;
  background-color: white;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 450px;
  width: 80vw;
  padding: 48px 32px 24px;
  border-radius: 16px;
  z-index: 0;
}

.auth__content {
  position: relative;
}

.auth__separator {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.auth__separator::after,
.auth__separator::before {
  content: "";
  display: block;
  flex-grow: 1;
  height: 1px;
  background: #bac8ce;
}

.auth__separator--text {
  margin: 0 24px;
  font-size: 14px;
  color: #394547;
  font-weight: 500;
}

.close-auth__icon {
  position: absolute;
  font-size: 28px;
  top: -32px;
  right: 0;
  cursor: pointer;
}

.auth__title {
  font-size: 20px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 24px;
}

.auth__login {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 60%;
  height: 40px;
  border-radius: 8px;
  color: white;
}

.auth__error {
  color: red;
  font-size: 11px;
}

.auth__spinner {
  position: absolute;
  right: 44%;
  transform: translateX(-50%);
  font-size: 24px;
  /* opacity: 0; */
  animation: spin 1000ms linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.auth__login--guest {
  background-color: #25396b;
}
.auth__login--google {
  background-color: #3367d6;
  cursor: not-allowed;
}

.auth__login--icon {
  display: flex;
  font-size: 24px;
  position: absolute;
  left: 5px;
}

.auth__login--icon--google {
  background-color: white;
  border-radius: 8px;
  padding: 4px;
}

.auth__input--form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth__input {
  height: 40px;
  border: 2px solid #bac8ce;

  border-radius: 4px;

  color: #394547;
  padding: 0 12px;
}

.auth__links {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.auth__link {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #116be9;
}

.auth__link--forgot-password {
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 16px;
  cursor: pointer;
}

.auth__link--no-account {
  height: 40px;
  text-align: center;
  background-color: #f1f6f4;
  width: 100%;
  border-radius: 0 0 4px 4px;
  font-weight: 300;
  font-size: 16px;
}
